<mat-toolbar color="primary" class="fixed-header"[class.mat-elevation-z8]=true >
    <span>Mairie de Lomé</span> 
  
  <div class="spacer2"></div>
  
    <a  mat-button routerLink="/acceuil">Acceuil</a>
    <a mat-button routerLink="/create-reservation" routerLink="active">Reservation</a>
    <a mat-button routerLink="/apropos">A Propos</a>
    <a mat-button routerLink="/contact">Contact Us</a>
  
    <div class="spacer"></div>
  
  
    <button mat-raised-button color="accent" routerLink="/login" (click)="Login">Connexion</button>
  
  </mat-toolbar>
  
