
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
    </div>
    <div>
      Liste Réservation
    </div>
    </mat-toolbar>
 <div class="pricing-header mx-auto">
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
    <thead>
    <tr>
    <th scope="col">Type</th>
    <th scope="col">Date Reservation </th>
    <th scope="col">Responsable/Association</th>
    <th scope="col">Date début</th>
    <th scope="col">heure Début</th>
    <th scope="col">date Fin</th>
    <th scope="col">heure Fin</th>
    <th scope="col">Nbre Personnes</th>
    
    <th scope="col">Salle</th>
    <th>
        <a class="btn btn-outline-success" routerLink="./create-reservation"><i class="fa fa-plus-square"></i> Ajouter Réservation</a>
    </th>
    </tr>
    </thead>
    <tbody>


    <tr *ngFor="let item of crudApi.listData ">
    <th class ="hidden">{{item.id}}</th>
    <td>{{item.typeDemandeur}}</td>
    <td>{{item.date_reservation}}</td>
    <td>{{item.nomResponsable}}</td>
    <td>{{item.date_debut_reservation}}</td>
    <td>{{item.heure_debut_reservation}}</td>
    <td>{{item.date_fin_reservation}}</td>
    <td>{{item.heure_fin_reservation}}</td>
    <td>{{item.nbre_person}}</td>
    <td>{{item.salle.nom}}</td>
   
     <td>
        <button class="btn btn-sm btn-info">
          <i class="fa fa-search"></i>Details</button>
        <button class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>Modifier</button>
        <button class="btn btn-sm btn-danger">
          <i class="fa fa-remove"></i>Supprimer</button>
      </td>
      
    <td><button class="btn btn-warning btn btn-outline-dark ml-1"  (click) = "selectData(item)">
      <i class="fa fa-pencil-square-o" ></i></button></td>
   <td><button class="btn btn-danger btn btn-outline-dark ml-1" (click) = "removeData(item.id)">
      <i class="fa fa-trash-o"></i></button></td>
       </tr>
         </tbody>
         </table>
         </div>
       </div>



