<!--<h1>Mairie de Lomé</h1>-->
<!--<footer class="py-5 bg dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright</p>
    </div>
</footer>-->
<div class="footer">
    <div class="inner-footer">
        <div class="footer-items">
            <h1>Computers Codes</h1>
            <p>
                Ceci est un footer agréable 
            </p>
        </div>
        <div class="footer-items">
            <h1>Quick Links</h1>
            <div class="border"></div>
            <ul>
                <a href=""><li>Home</li></a>
                <a href=""><li>Reservation</li></a>
                <a href=""><li>About</li></a>
                <a href=""><li>Contactez-nous</li></a>
            </ul>
        </div>
        <div class="footer-items">
            <h1>Tutorials</h1>
            <div class="border"></div>
            <ul>
                <a href=""><li>Home</li></a>
                <a href=""><li>Reservation</li></a>
                <a href=""><li>About</li></a>
                <a href=""><li>Contactez-nous</li></a>
            </ul>
        </div>
        <div class="footer-items">
            <h1>Contact Us</h1>
            <div class="border"></div>
            <ul>
                <li><i class=""></i></li>
                <li><i class=""></i></li>
                <li><i class=""></i></li>
                <li><i class=""></i></li>
            </ul>
            <div class="social-media">
                <a href=""><i class=""></i></a>
                <a href=""><i class=""></i></a>
                <a href=""><i class=""></i></a>
                <a href=""><i class=""></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright copy; Computers Codes 2019. All rights reserved
    </div>
</div>
